/****************************
 ====== Mon super CSS =====
 ****************************/
/********************************* Reset CSS *************************/
/* on utilise celui-là pour l'instant, mais on verra d'autre techniques plus pertinentes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************* GENERAL *************************/
body, html {
	height:100%;
}
body {
	color: #fff;
}

main {
    position: relative;
    min-height:100%;
}
/********************************** HEADER ***************************/
header {
    height: 300px;
    background-color: #1B6E76;
    border-top: 50px solid #232323;
}
/* Je positionne mon logo */
header img {
	float: left;
	width: 250px;
    padding: 30px;
}

.titre {
	margin-left: -1950px;
    text-align: center;
}

h1 {
    font-size: 50px;
	font-family: "Indie Flower";
    margin: 40px 0;
}

h2 {
    font-size: 30px;
	font-family: "Indie Flower";
    opacity: 0.7;
}
/******************************** NAVIGATION *************************/
nav {
	float: right;
}

nav li {
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	font-family: "Droid Sans";
	font-size: 20px;
}

nav li:nth-of-type(1),li:nth-of-type(2),li:nth-of-type(3){/* selection des enfants voulus */
	border-right: 2px solid #FFF;
}

nav ul {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	padding: 10px;
    margin-right: 100px;
}
/********************************* SECTION *************************/
.images {
    width: 40%;
    margin: 50px auto;
}

.images img {
    width: 49.6%;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
}
/******************************** FOOTER *************************/
footer {
    position: absolute; /* pour fixer le footer en pied de page */
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #232323;
}

form {
    width: 40%;
    margin: auto;
    padding-top: 20px;
}

input, button {
    height: 40px;
    padding: 5px 10px;
    border: transparent; /* on annule le style par défaut */
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

input {
    width: 90%;
	background-color:white;
	color: black;
	font-family: "Indie Flower";
	-webkit-apparence:none;
}

button {
    float: right;
    width: 9%;
    margin-right: 0;
    color: #fff;
    background-color: #1B6E76;
	-webkit-apparence:none;
}

.left{
	text-align: left;
}
.clear {
	clear:both;
}
